<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un livre</title>
</head>
<body>
<h1>Ajouter un livre</h1>
<form action="/api/books" method="post">
    <label for="title">Titre:</label>
    <input type="text" id="title" name="title" required>
    <br>
    <label for="author">Auteur:</label>
    <input type="text" id="author" name="author" required>
    <br>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required>
    <br>
    <label for="publishedDate">Date de publication:</label>
    <input type="date" id="publishedDate" name="publishedDate">
    <br>
    <label for="copies">Copies:</label>
    <input type="number" id="copies" name="copies">
    <br>
    <input type="submit" value="Ajouter">
</form>
<br>
<a href="/">Retour à l'accueil</a>
</body>
</html>
