<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Bibliothèque</title>
</head>
<body>
<h1>Bienvenue à la bibliothèque</h1>
<ul>
    <li><a href="/add-book">Ajouter un livre</a></li>
    <li><a href="/list-books">Liste des livres</a></li>
</ul>
</body>
</html>
