<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des livres</title>
</head>
<body>
<h1>Liste des livres</h1>
<ul>
    <% books.forEach(book => { %>
        <li>
            <strong><%= book.title %></strong> par <%= book.author %> - ISBN: <%= book.isbn %>
        </li>
    <% }); %>

</ul>
<br>
<a href="/">Retour à l'accueil</a>
</body>
</html>
